<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HelloWorld</display-name>
  <servlet>
    <servlet-name>Hello World</servlet-name>
    <servlet-class>pl.jakubwojcik.servlets.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Index page</servlet-name>
    <servlet-class>pl.jakubwojcik.servlets.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Parameters servlet</servlet-name>
    <servlet-class>pl.jakubwojcik.servlets.ParametersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Wyslij</servlet-name>
    <jsp-file>/wyslij.html</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Average servlet</servlet-name>
    <servlet-class>pl.jakubwojcik.servlets.SumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Various parameters</servlet-name>
    <servlet-class>pl.jakubwojcik.servlets.VariousParametersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello World</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index page</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Parameters servlet</servlet-name>
    <url-pattern>/parameters_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Wyslij</servlet-name>
    <url-pattern>/wyslij</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Average servlet</servlet-name>
    <url-pattern>/average</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Various parameters</servlet-name>
    <url-pattern>/various_parameters</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>